In [2]:
import numpy as np
import pandas as pd

In [3]:
traffic_data = pd.read_csv(r"C:\Users\ismai\chalenge\10X_Files\traffic_data\traffic.csv")
raw_data = pd.read_csv(r"C:\Users\ismai\chalenge\10X_Files\raw_data\data.csv")
rating_data = pd.read_csv(r"C:\Users\ismai\chalenge\10X_Files\data.csv\rating.csv")

In [26]:
rating_data.columns

Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'article', 'title_sentiment', 'country'],
      dtype='object')

In [27]:
raw_data.columns

Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'full_content'],
      dtype='object')

In [75]:
traffic_data.tail()

,GlobalRank,TldRank,Domain,TLD,RefSubNets,RefIPs,IDN_Domain,IDN_TLD,PrevGlobalRank,PrevTldRank,PrevRefSubNets,PrevRefIPs
999995,999996,485324,kireie.com,com,222,280,kireie.com,com,-1,-1,-1,-1
999996,999997,485325,mt-lock.com,com,222,280,mt-lock.com,com,952633,461429,232,284
999997,999998,485326,pinkwater.com,com,222,280,pinkwater.com,com,-1,-1,-1,-1
999998,999999,485327,soderhomes.com,com,222,280,soderhomes.com,com,-1,-1,-1,-1
999999,1000000,485328,toyotamusicfactory.com,com,222,280,toyotamusicfactory.com,com,973201,471949,228,284

In [3]:
traffic_data.columns

Index(['GlobalRank', 'TldRank', 'Domain', 'TLD', 'RefSubNets', 'RefIPs',
       'IDN_Domain', 'IDN_TLD', 'PrevGlobalRank', 'PrevTldRank',
       'PrevRefSubNets', 'PrevRefIPs'],
      dtype='object')

In [7]:
#Question 2
sorted_traffic_data = traffic_data.sort_values(by='GlobalRank', ascending=True)
top_traffic_websites = sorted_traffic_data.head(10)
print(top_traffic_websites[['Domain', 'GlobalRank']])

                 Domain  GlobalRank
0            google.com           1
1          facebook.com           2
2           youtube.com           3
3           twitter.com           4
4         instagram.com           5
5          linkedin.com           6
6             apple.com           7
7         microsoft.com           8
8  googletagmanager.com           9
9         wikipedia.org          10

In [100]:
domain_list = traffic_data["Domain"].tolist()
split_domains = [domain.split(".")[0] for domain in domain_list]
traffic_data["Domain_name"] = split_domains
traffic_data["Domain_name"].value_counts()

www                        367
google                     234
nic                         72
blogspot                    70
lemmy                       61
                          ...
remue                        1
ballymaloecookeryschool      1
vismaspcs                    1
academiedugout               1
toyotamusicfactory           1
Name: Domain_name, Length: 909225, dtype: int64

In [59]:
raw_data.columns

Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'full_content'],
      dtype='object')

In [19]:
rating_data.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment
0,81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...,Now open in Mayfair at Four Seasons Hotel Lond...,https://www.forbes.com/sites/elizabethbrownfie...,https://imageio.forbes.com/specials-images/ima...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"pavyllon london, at four seasons hotel london ...",Neutral
1,81667,NaN,CNA,NaN,nice claim top spot in ligue 1 with late win a...,Nice moved into provisional first place in the...,https://www.channelnewsasia.com/sport/nice-cla...,https://onecms-res.cloudinary.com/image/upload...,2023-10-27 21:28:48.000000,Nice moved into provisional first place in the...,Monaco,nice moved into provisional first place in the...,Positive
2,81694,time,Time,Christina Larson / AP,amphibians are the world’s most vulnerable spe...,"The world’s frogs, salamanders, newts, and oth...",https://time.com/6320467/amphibians-most-vulne...,https://api.time.com/wp-content/uploads/2023/1...,2023-10-04 17:36:18.000000,"The worlds frogs, salamanders, newts and other...",Madagascar,"the world’s frogs, salamanders, newts and othe...",Negative
3,81695,NaN,Phys.Org,Sara Schmidt,image: rusty red waters in madagascar,Iron-rich sediment colors the red-orange water...,https://phys.org/news/2023-10-image-rusty-red-...,https://scx2.b-cdn.net/gfx/news/2023/image-rus...,2023-10-31 18:04:02.000000,Iron-rich sediment colors the red-orange water...,Madagascar,iron-rich sediment colors the red-orange water...,Neutral
4,81703,NaN,Digital Trends,Jason Struss,everything leaving max (formerly hbo max) in n...,From Gangs of London to Fear the Walking Dead ...,https://www.digitaltrends.com/movies/everythin...,https://www.digitaltrends.com/wp-content/uploa...,2023-10-23 23:09:18.000000,"Everything ends. No, I’m not having an existen...",Madagascar,"everything ends. no, i’m not having an existen...",Neutral

In [29]:
#question 1
largest_website = rating_data['source_name'].value_counts().idxmax()
print(f"The website with the largest count of news articles is '{largest_website}' ")

The website with the largest count of news articles is 'ETF Daily News'

In [45]:
#Question 
sentiment_counts = rating_data.groupby(['source_name', 'title_sentiment']).size().unstack(fill_value=0)
sentiment_counts['dominant_sentiment'] = sentiment_counts.idxmax(axis=1)
print(sentiment_counts)

title_sentiment               Negative  Neutral  Positive dominant_sentiment
source_name
ABC News                           726     1193       139            Neutral
Al Jazeera English                 706      927        31            Neutral
AllAfrica - Top Africa News          8       12         0            Neutral
Android Central                     38      212       272           Positive
BBC News                           854     1185        74            Neutral
Boing Boing                        250      293       170            Neutral
Business Insider                   890      907       237            Neutral
CNA                                126      462        86            Neutral
CNN                                102      142        23            Neutral
Deadline                            84      794        54            Neutral
Digital Trends                      43      335       406           Positive
ETF Daily News                     560    15194       992            Neutral
Euronews                           114      157        15            Neutral
Forbes                             216     1933       635            Neutral
Gizmodo.com                         76      253        59            Neutral
Globalsecurity.org                 747     2255       117            Neutral
GlobeNewswire                       27     4491       905            Neutral
International Business Times       319      844        44            Neutral
Marketscreener.com                  42     1167       153            Neutral
NPR                                279      617        85            Neutral
Phys.Org                           284      836       143            Neutral
RT                                 403      698        27            Neutral
ReadWrite                           38      216        70            Neutral
The Indian Express                 251      787       138            Neutral
The Punch                          455     1229       116            Neutral
The Times of India                1210     5149      1145            Neutral
The Verge                           35      118        61            Neutral
Time                               185      382        33            Neutral
Wired                               65      138        67            Neutral

In [46]:
sentiment_counts['dominant_sentiment'].value_counts()

Neutral     27
Positive     2
Name: dominant_sentiment, dtype: int64

In [9]:
rating_data.iloc[2]["content"]

'The worlds frogs, salamanders, newts and other amphibians remain in serious trouble.\nA new global assessment has found that 41% of amphibian species that scientists have studied are threatened with … [+2579 chars]'

In [6]:
#Question 3
import re
rating_data['description'] = rating_data['description'].str.upper()
rating_data['country'] = rating_data['description'].str.extract(r'\b(Africa|US|China|EU|Russia|Ukraine|Middle East)\b', flags=re.IGNORECASE)
country_media_orgs = rating_data.groupby('country')['source_name'].nunique()


print("Countries with the highest number of news media organizations:")
print(country_media_orgs.nlargest(10))
print()

Countries with the highest number of news media organizations:
country
US             28
CHINA          25
EU             23
AFRICA         22
MIDDLE EAST    21
RUSSIA         21
UKRAINE        20
Name: source_name, dtype: int64

In [16]:
rating_data.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment,country
0,81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...,Now open in Mayfair at Four Seasons Hotel Lond...,https://www.forbes.com/sites/elizabethbrownfie...,https://imageio.forbes.com/specials-images/ima...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"pavyllon london, at four seasons hotel london ...",Neutral,NaN
1,81667,NaN,CNA,NaN,nice claim top spot in ligue 1 with late win a...,Nice moved into provisional first place in the...,https://www.channelnewsasia.com/sport/nice-cla...,https://onecms-res.cloudinary.com/image/upload...,2023-10-27 21:28:48.000000,Nice moved into provisional first place in the...,Monaco,nice moved into provisional first place in the...,Positive,NaN
2,81694,time,Time,Christina Larson / AP,amphibians are the world’s most vulnerable spe...,"The world’s frogs, salamanders, newts, and oth...",https://time.com/6320467/amphibians-most-vulne...,https://api.time.com/wp-content/uploads/2023/1...,2023-10-04 17:36:18.000000,"The worlds frogs, salamanders, newts and other...",Madagascar,"the world’s frogs, salamanders, newts and othe...",Negative,NaN
3,81695,NaN,Phys.Org,Sara Schmidt,image: rusty red waters in madagascar,Iron-rich sediment colors the red-orange water...,https://phys.org/news/2023-10-image-rusty-red-...,https://scx2.b-cdn.net/gfx/news/2023/image-rus...,2023-10-31 18:04:02.000000,Iron-rich sediment colors the red-orange water...,Madagascar,iron-rich sediment colors the red-orange water...,Neutral,NaN
4,81703,NaN,Digital Trends,Jason Struss,everything leaving max (formerly hbo max) in n...,From Gangs of London to Fear the Walking Dead ...,https://www.digitaltrends.com/movies/everythin...,https://www.digitaltrends.com/wp-content/uploa...,2023-10-23 23:09:18.000000,"Everything ends. No, I’m not having an existen...",Madagascar,"everything ends. no, i’m not having an existen...",Neutral,NaN

In [17]:
rating_data.columns

Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'article', 'title_sentiment', 'country'],
      dtype='object')

In [ ]:
# I want to implement something
# Let see what I will do

In [24]:
rating_data.iloc[0]["description"]

'Now open in Mayfair at Four Seasons Hotel London at Park Lane, the restaurant is the Michelin-starred chef’s London debut.'